.center {
    position: fixed;
    width: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    z-index: 0;
  }

  .header {
    font-size: 50px;
    color: white;
    z-index: 4;
    position: fixed;
    top: 2%;
    left: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .ordlis{
    z-index: 3;
    position: fixed;
    justify-content: center;
    margin-bottom: 0%;
    margin-top: 10px;
    left: 0%;
    right: 0%;
    bottom: 0px;
    color: white;
    background-color:#131e29;
  }

  .vid{
    z-index: 100;
    position: fixed;
    top: 1%;
    right: 1%;
  }

  .indbg{
    background-color:#131e29;
  }

  .prolink{
    z-index: 6;
    font-size: 40px;
    color: white;
    position: fixed;
    top: 20%;
    left: 5%;
  }
  
a:hover {
    font-weight: bold;
    text-decoration: underline;
}

a:visited {
    color: #131e29;
}

.pic{
    z-index: 3;
    position: fixed;
    margin-bottom: 0%;
    right: 0px;
    bottom: 0px;
}

.tab{
    z-index: 2;
    top: 200px;
    max-width: 500px;
    max-height: 350px;
}